<div class="col-xs-3 candidatePicture"></div>
<div class="col-xs-9 candidateDetails">
    <div class="row">
        <a class="col-xs-12 candidateName" href="#">Arvind Kejriwal</a>
    </div>
    <div class="row">
        <label class="col-xs-4 dateOfBirth">Date Of Birth</label>
        <span class="col-xs-8 dateOfBirth">1997-04-04</span>
    </div>
    <div class="row">
        <label class="col-xs-4 constituencyName">Constituency</label>
        <span class="col-xs-8 constituencyName">Delhi</span>
    </div>
    <div class="row">
        <label class="col-xs-4 description">Description</label>
        <span class="col-xs-8 description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue ex, egestas nec est eu, consec...
        </span>
    </div>
</div>