<div class="col-xs-3 candidatePicture"></div>
<div class="col-xs-9 candidateDetails">
    <div class="row">
        <a class="col-xs-12 candidateName" href="#">{{ firstName }} {{ lastName }}</a>
    </div>
    <div class="row">
        <label class="col-xs-4 dateOfBirth">Date Of Birth</label>
        <span class="col-xs-8 dateOfBirth">{{ dateOfBirth }}</span>
    </div>
    <div class="row">
        <label class="col-xs-4 constituencyName">Constituency</label>
        <span class="col-xs-8 constituencyName">{{ constituencyName }}</span>
    </div>
    <div class="row">
        <label class="col-xs-4 description">Description</label>
        <span class="col-xs-8 description">{{ descriptionShort }}</span>
    </div>
</div> 