<div class="col-xs-3 candidatePicture">
    <img src="{{ img_url }}" />
</div>
<div class="col-xs-9 candidateDetails">
    <div class="row">
        <a class="col-xs-12 candidateName" href="#">{{ first_name }} {{ last_name }}</a>
    </div>
    <div class="row">
        <label class="col-xs-4 dateOfBirth">Date Of Birth</label>
        <span class="col-xs-8 dateOfBirth">{{ date_of_birth }}</span>
    </div>
    <div class="row">
        <label class="col-xs-4 constituencyName">Constituency</label>
        <span class="col-xs-8 constituencyName">{{ constituency }}</span>
    </div>
    <div class="row">
        <label class="col-xs-4 description">Description</label>
        <span class="col-xs-8 description">{{ description }}</span>
    </div>
</div> 