

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-12 col-sm-2">Name</label>
        <div class="col-xs-6 col-sm-5">
            <input type="text" placeholder="{{first_name}}" class="firstName form-control" value="{{first_name}}" disabled>
        </div>
        <div class="col-xs-6 col-sm-5">
            <input type="text" placeholder="{{last_name}}" class="lastName form-control" value="{{last_name}}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2">Aadhar Number</label>
        <div class="col-xs-12 col-sm-10">
            <input type="number" placeholder="{{aadharNumber}}" class="aadharNumber form-control" value="{{aadharNumber}}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2">Enrollment Number</label>
        <div class="col-xs-3 col-sm-3">
            <input type="number" placeholder="{{enrollment_id1}}" class="enrollment_id1 form-control" value="{{enrollment_id1}}" disabled>
        </div>
        <div class="col-xs-3 col-sm-3">
            <input type="number" placeholder="{{enrollment_id2}}" class="enrollment_id2 form-control" value="{{enrollment_id2}}" disabled>
        </div>
        <div class="col-xs-3 col-sm-3">
            <input type="number" placeholder="{{enrollment_id3}}" class="enrollment_id3 form-control" value="{{enrollment_id3}}" disabled>
        </div>
    </div>
    <input type="button" class="btn btn-primary btn-block voterConfirm" value="Confirm">

</form>